body {

    
    display:flex;
    flex-direction: column;

}

.hero-header {
    color:white;
    background-color: #1F2937;
    font-family: Roboto,cursive;
    display: flex;
    justify-content: space-between;
    padding: 0px 135px 100px 200px;
}

.header-logo {

    font-size: 24px;
    color:#F9FAF8;
    display: flex;
    align-items: center;
    font-weight: bolder;
    gap:8px;
}

.header-links {
    display:flex;
    font-size:19px;
    color:#e5e7eb;
    align-items: center;
   
}


ul {

    list-style: none;
    display: flex;
    align-items: center;

    gap:15px;

}

.main-header {
    color:white;
    background-color: #1F2937;
    font-family: Roboto,cursive;
    display: flex;
    gap:8px;
    padding: 0px 135px 165px 200px;

}

.main-text {

    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    display:flex;

}

.sub-text {

    font-size: 18px;
    color: #e5e7eb;
    display:flex;
    text-wrap:wrap;
    padding-right: 100px;
}

button {

    background-color: rgb(21, 111, 212);
    color: white;
    border-radius: 10px;  
    font-size: 18px;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 10px 40px;
    align-self: flex-start;
}

.part1 {

    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    width: 500px;

}

img {

    height:225px;
    width:530px;
}

.part2 {

    display:flex;
    justify-content: flex-start;
    align-items: center;
    

}

