

body {

    
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%
}

.hero-header {
    color:white;
    background-color: #1F2937;
    font-family: Roboto,cursive;
    display: flex;
    justify-content: space-between;
    padding: 0px 135px 100px 200px;
}

.header-logo {

    font-size: 24px;
    color:#F9FAF8;
    display: flex;
    align-items: center;
    font-weight: bolder;
    gap:8px;
}

.header-links {
    display:flex;
    font-size:19px;
    color:#e5e7eb;
    align-items: center;
   
}


ul {

    list-style: none;
    display: flex;
    align-items: center;

    gap:15px;

}

.main-header {
    color:white;
    background-color: #1F2937;
    font-family: Roboto,cursive;
    display: flex;
    gap:8px;
    padding: 0px 135px 165px 200px;

}

.main-text {

    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    display:flex;

}

.sub-text {

    font-size: 18px;
    color: #e5e7eb;
    display:flex;
    text-wrap:wrap;
    padding-right: 100px;
}

button {

    background-color: #3882f6;
    color: white;
    border-radius: 10px;  
    font-size: 18px;
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 10px 40px;
    align-self: flex-start;
}

.part1 {

    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    width: 500px;

}

.part2 img {

    height:225px;
    width:530px;
}

.part2 {

    display:flex;
    justify-content: flex-start;
    align-items: center;
    

}


.info {

    display:flex;
    flex-direction: column;
    font-family: Roboto,cursive;
    padding: 0px 200px 140px 250px;

}

.header-info {

    font-size:36px;
    font-weight:900;
    color:#1F2937;
    display:flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom:35px;

}

.visual {

    display:flex;
    justify-content: space-evenly;



}

.visual div img {

    width:170px;
    height:170px;
    border: 5px solid #3882f6;
    border-radius: 20px;

}

.visual div {

    display:flex;
    flex-direction: column;
    text-wrap: wrap;
    width:170px;
    justify-content: center;
    gap:10px;
    

}



.quote-section {

    background-color: #e5e7eb;
    font-size:36px;
    color:#1F2937;
    padding: 125px 200px 125px 250px;
    display:flex;
    flex-direction: column;
    gap:20px
}

.testimony {

    display:flex;
    align-items: flex-end;

}

.testimony div {

    display:flex;
    text-wrap: wrap;
    width:900px;
    font-weight: lighter;
    font-style: italic;

}

.name {

    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 60px;

}

.name div{

    display:flex;
    font-size: 25px;
    font-weight: bold;

}